/* MapPin.css */
.map-pin-icon {
  background: transparent;
  border: none;
}

.map-pin-inner {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 32px 32px 0 32px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: var(--text-secondary);
}

.map-pin-icon.unverified .map-pin-inner {
  background-color: #757575;
}

.map-pin-icon.verified .map-pin-inner {
  background-color: var(--success-color);
}

.map-pin-icon.selected .map-pin-inner {
  background-color: #b2ff59;
  border-color: #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
